
.DS_Store

**__pycache__**

*.csv
.vscode/

checkpoints/
s2-100k/
data/
00_wandb/
wandb/
*.wandb

#outputs
out/
out_new/
satclip_location_pca_out/

#extra scripts
verify_geoclip_surgery.py
text_inference.py


*.json
*.txt
*.parquet
*.pth
*.png
*.ckpt
*.pt
*.pkl
*.csv
*.jsonl

splice_results/
logs/
