**__pycache__**
.vscode/

wandb/
*.wandb

*.json
*.txt
*.parquet
*.pth
*/*.png
*.ckpt
*.pt
*.pkl
*.csv
*.jsonl

0_old
src/eval_data/plot_dense_grid.ipynb
src/eval_data/plot_geoyfcc.ipynb
src/eval_data/plot_im2gps.ipynb

