**__pycache__**
.vscode/*
!.vscode/settings.json

wandb/
*.wandb

*.json
#*.txt
*.parquet
*.pth
*/*.png
*.ckpt
*.pt
*.pkl
*.csv
*.jsonl

src/explainability/clip_surgery/out/

0_old
src/eval_data/plot_dense_grid.ipynb
src/eval_data/plot_geoyfcc.ipynb
src/eval_data/plot_im2gps.ipynb

configs/eval_reconstruction.yaml
src/explainability/splice/scripts/
src/explainability/splice/outputs/
notebooks/check_polygons.ipynb
run_climplicit_uar_1
run_climplicit_uar_2
run_climplicit_uar_3
run_climplicit_urban_1
run_climplicit_urban_2
run_climplicit_urban_3
run_geoclip_uar_1
run_geoclip_uar_2
run_geoclip_uar_3
run_geoclip_urban_1
run_geoclip_urban_2
run_satclip_uar
run_satclip_uar_1
run_satclip_uar_2
run_satclip_urban_1
run_satclip_urban_2
run_satclip_urban_3
run_geoclip_uar_1
run_geoclip_uar_2
run_geoclip_uar_3
run_geoclip_urban_3
run_satclip_uar
run_satclip_uar_1
run_satclip_uar_2
run_geoclip_uar_1
run_geoclip_uar_2
run_geoclip_uar_3
run_satclip_uar
run_satclip_uar_1
run_satclip_uar_2
run_geoclip_uar_1
run_geoclip_uar_2
run_geoclip_uar_3
run_satclip_uar
run_satclip_uar_1
run_satclip_uar_2
